---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Hi again. My name is Erfan Qasemizade but I use the nickname frustak.</p>
		<p>
			I mainly work as a front-end developer but I think of myself as a more general, software
			engineer kind.
		</p>
		<p>
			Creating fun stuff is my passion and coding is a great way to build things without much cost.
			And of course I love the open-source (YAY).
		</p>
		<p>Oh by the way, I like cyberpunk stuff and cats 🐱 even though I never had one.</p>
	</div>
</PageLayout>
